[buildout]                                                                      
develop = .
parts = test
find-links = http://pypi.dolmen-project.org/find-links

[test]
recipe = zc.recipe.testrunner
eggs = dolmen.widget.tinymce [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
